@model GanXian.Model.products
@{
    ViewBag.Title = Model.productName;
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

@section Scripts {
    <link rel="stylesheet" href="~/Content/productDetail.css">
    <script charset="utf-8" src="~/Scripts/TouchSlide.js"></script>
    <script charset="utf-8" src="~/Scripts/Products/myProdDetail.js?V=1.5"></script>
}
<div class="container">
    <div class="row white-bg">
        <div id="slide">
            <div class="hd">
                <ul>
                    <li>1</li>
                    @if (!string.IsNullOrEmpty(Model.pic2))
                    {
                        <li>2</li>
                    }
                    @if (!string.IsNullOrEmpty(Model.pic3))
                    {
                        <li>3</li>
                    }
                    @if (!string.IsNullOrEmpty(Model.pic4))
                    {
                        <li>4</li>
                    }
                </ul>
            </div>
            <div class="bd">
                <div class="tempWrap" style="overflow:hidden; position:relative;">
                    <ul style="width: 3072px; position: relative; overflow: hidden; padding: 0px; margin: 0px; transition-duration: 200ms; transform: translateX(-768px);">
                        <li style="display: table-cell; vertical-align: middle; max-width: 768px;">
                            <a href="#">
                                <img style="max-width:100vw;margin:auto;" src=@string.Concat(ViewBag.ProjectUrl,Html.DisplayFor(model => model.pic1))>
                            </a>
                        </li>
                        @if (!string.IsNullOrEmpty(Model.pic2))
                        {
                            <li style="display: table-cell; vertical-align: middle; max-width: 768px;">
                                <a href="#">
                                    <img style="max-width:100vw;margin:auto;" src=@string.Concat(ViewBag.ProjectUrl,Html.DisplayFor(model => model.pic2))>
                                </a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Model.pic3))
                        {
                            <li style="display: table-cell; vertical-align: middle; max-width: 768px;">
                                <a href="#">
                                    <img style="max-width:100vw;margin:auto;" src=@string.Concat(ViewBag.ProjectUrl,Html.DisplayFor(model => model.pic3))>
                                </a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Model.pic4))
                        {
                            <li style="display: table-cell; vertical-align: middle; max-width: 768px;">
                                <a href="#">
                                    <img style="max-width:100vw;margin:auto;" src=@string.Concat(ViewBag.ProjectUrl, Html.DisplayFor(model => model.pic4))>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row gary-bg">
        <div class="white-bg p10 details_con">
            <h1 class="item-name" id="prodName">
                @Html.DisplayFor(model => model.productName)
            </h1>
            <ul>
                @if (!string.IsNullOrEmpty(Model.specs))
                {
                    <li>
                        <label>规格：</label>
                        <span class="spec">@Html.DisplayFor(model => model.specs)</span>
                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.specs))
                {
                    <li>
                        <label>折后价：</label>
                        <span class="price" id="prodCash">¥@Html.DisplayFor(model => model.discountedPrice)</span><del class="spec">¥@Html.DisplayFor(model => model.originalPrice)</del>
                    </li>
                }
                else
                {
                    <li>
                        <label>价格：</label>
                        <span class="price" id="prodCash">¥@Html.DisplayFor(model => model.originalPrice)</span>
                    </li>
                }
                <li>
                    <label>数量：</label>
                    <div class="count_div" style="height: 30px; width: 130px;">
                        <a href="javascript:void(0);" class="minus"></a>
                        <input type="text" class="count" value="1" id="prodCount" readonly="readonly" />
                        <a href="javascript:void(0);" class="add"></a>
                    </div>
                </li>
            </ul>
        </div>
        <div id="goodsContent" class="goods-content white-bg">

            <div class="hd hd_fav">
                <ul>
                    <li class="on">图文详情</li>
                </ul>
            </div>

            <div class="tempWrap" style="overflow:hidden; position:relative;">
                <ul>
                    @if (!string.IsNullOrEmpty(Model.origin))
                    {
                        <li>
                            <label>产地：</label>
                            <span class="spec">@Html.DisplayFor(model => model.origin)</span>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.nw))
                    {
                        <li>
                            <label>净重：</label>
                            <span class="spec">@Html.DisplayFor(model => model.nw)</span>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.storageCondition))
                    {

                        <li>
                            <label>存放条件：</label>
                            <span class="spec">@Html.DisplayFor(model => model.storageCondition)</span>
                        </li>
                    }
                </ul>
                <div class="product-description">
                    @(new HtmlString(Model.remark))
                </div>
                <div class="prop-area" style="min-height:300px;overflow: hidden;">
                    <img src=@string.Concat(ViewBag.ProjectUrl,Html.DisplayFor(model => model.pic1)) alt="" />
                    @if (!string.IsNullOrEmpty(Model.pic2))
                    {
                        <img src=@string.Concat(ViewBag.ProjectUrl,Html.DisplayFor(model => model.pic2)) alt="" />
                    }
                    @if (!string.IsNullOrEmpty(Model.pic3))
                    {
                        <img src=@string.Concat(ViewBag.ProjectUrl,Html.DisplayFor(model => model.pic3)) alt="" />
                    }
                    @if (!string.IsNullOrEmpty(Model.pic4))
                    {
                        <img src=@string.Concat(ViewBag.ProjectUrl,Html.DisplayFor(model => model.pic4)) alt="" />
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("currProdId", Model.productId)
    <div class="fixed-foot">
        <div class="fixed_inner">
            @*<a class="btn-fav" href="javascript:void(0);" onclick="addInterest(this,'663');">
                    <i class="i-fav"></i><span>收藏</span>
                </a>*@
            <a class="cart-wrap" href="~/Products/Shopcart">
                <i class="i-cart"></i>
                <span>购物车</span>
                <span class="add-num" id="totalNum">@ViewBag.userShopcartNum</span>
            </a>
            @if (Model.status == 1)
            {
                <div class="buy-btn-fix">
                    <a class="btn btn-info btn-cart" href="javascript:void(0);">加入购物车</a>
                    <a class="btn btn-danger btn-buy" onclick="buyNow();" href="javascript:void(0);">立即购买</a>
                </div>
            }
        </div>
    </div>

    <div class="clear"></div>

    <footer class="footer">
        <div class="foot-con">
            <div class="foot-con_2">
                <a href="index.html">
                    <i class="navIcon home"></i>
                    <span class="text">首页</span>
                </a>
                <a href="category.html">
                    <i class="navIcon sort"></i>
                    <span class="text">分类</span>
                </a>
                <a href="shopcart.html">
                    <i class="navIcon shop"></i>
                    <span class="text">购物车</span>
                </a>
                <a href="userhome.html">
                    <i class="navIcon member"></i>
                    <span class="text">我的</span>
                </a>
            </div>
        </div>
    </footer>
</div>



