@model IEnumerable<GanXian.Model.UserOrderListInfo>
@{
    ViewBag.Title = "后台管理系统";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section style {
    <link href="~/Content/admin/product.css" rel="stylesheet" />
    <link href="~/Content/datepicker/css/BeatPicker.min.css" rel="stylesheet" />
    <link href="~/Content/admin/order.css" rel="stylesheet" />
}
<div class="content">
    <h2>订单管理</h2>
    <div class="filter border-gray">
        <div class="title border-bottom-gray"><i class="icon ion-android-search"></i>筛选条件</div>
        <div class="filter-inner">
            <ul class="filter-content clearfix">
                <li>
                    <label>订单号</label>
                    <input type="text" id="orderNo" value="@ViewBag.orderNo" />
                </li>
                <li>
                    <label>订单状态</label>
                    <select id="orderStatus">
                        <option value="all">全部</option>
                        <option value="0">未付款</option>
                        <option value="1">已付款</option>
                        <option value="2">已发货</option>
                        <option value="3">已完成</option>
                        <option value="7">已退货</option>
                    </select>
                </li>
                <li class="datepicker">
                    <label>下单日期</label>
                    <input type="text" data-beatpicker="true" id="createDate" value="@ViewBag.createDate" />
                </li>
                <li>
                    <label>收件人</label>
                    <input type="text" id="receiver" value="@ViewBag.receiver" />
                </li>
                <li>
                    <label>运单号</label>
                    <input type="text" id="expressNo" value="@ViewBag.expressNo" />
                </li>
            </ul>
            <div class="control">
                <Section>
                    <button class="btn btn-clean">清空</button>
                    <button class="btn btn-search">查询</button>
                </Section>
            </div>
        </div>
    </div>
    <div class="results">
        <div class="results-header">
            <table id="resultTableHead" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <td width="8%">订单编号</td>
                        <td width="7%">订单状态</td>
                        <td width="8%">下单日期</td>
                        <td width="7%">收件人</td>
                        <td width="10%">联系电话</td>
                        <td width="33%">收货地址</td>
                        <td width="14%">操作</td>
                        <td width="13%">运单号</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="results-inner">
            <table id="resultTable" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed;">
                <thead>
                    <tr>
                        <td width="8%">&GX;</td>
                        <td width="7%">&nbsp;</td>
                        <td width="8%">&nbsp;</td>
                        <td width="7%">&nbsp;</td>
                        <td width="10%">&nbsp;</td>
                        <td width="33%">&nbsp;</td>
                        <td width="14%">&nbsp;</td>
                        <td width="13%">&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.status == 6)
                        {
                            continue;
                        }
                        else if (item.status == 0)
                        {
                            <tr class="order-unpaid">
                                <td rowspan="2">@item.salesNo.Substring(item.salesNo.Length - 6, 6)</td>
                                <td>未付款</td>
                                <td>@item.createDate.ToString("yyyy-MM-dd")</td>
                                <td>@item.receiver</td>
                                <td>@item.Phone</td>
                                <td>@item.detailAddress</td>
                                <td class="operation"></td>
                                <td rowspan="2">
                                    <div class="shipping-list">
                                        @item.expressNo
                                    </div>
                                </td>
                            </tr>
                        }
                        else if (item.status == 7)
                        {
                            <tr class="order-unpaid">
                                <td rowspan="2">@item.salesNo.Substring(item.salesNo.Length - 6, 6)</td>
                                <td>已退货</td>
                                <td>@item.createDate.ToString("yyyy-MM-dd")</td>
                                <td>@item.receiver</td>
                                <td>@item.Phone</td>
                                <td>@item.detailAddress</td>
                                <td class="operation"></td>
                                <td rowspan="2">
                                    <div class="shipping-list">
                                        @item.expressNo
                                    </div>
                                </td>
                            </tr>
                        }
                        else if (item.status == 1)
                        {
                            <tr class="order-unshipped">
                                <td rowspan="2">@item.salesNo.Substring(item.salesNo.Length - 6, 6)</td>
                                <td>已付款</td>
                                <td>@item.createDate.ToString("yyyy-MM-dd")</td>
                                <td>@item.receiver</td>
                                <td>@item.Phone</td>
                                <td>@item.detailAddress</td>
                                <td class="operation"><i class="icon ion-logistics" title="发货" onclick="addExpressNo('@item.salesNo')"></i><i class="icon ion-ios-undo" title="退货" onclick="returnProd('@item.salesNo')"></i></td>
                                <td rowspan="2">
                                    <div class="shipping-list">
                                        @item.expressNo
                                    </div>
                                </td>
                            </tr>
                        }
                        else if (item.status == 2)
                        {
                            <tr class="order-in-delivery">
                                <td rowspan="2">@item.salesNo.Substring(item.salesNo.Length - 6, 6)</td>
                                <td>已发货</td>
                                <td>@item.createDate.ToString("yyyy-MM-dd")</td>
                                <td>@item.receiver</td>
                                <td>@item.Phone</td>
                                <td>@item.detailAddress</td>
                                <td class="operation"><i class="icon ion-ios-undo" title="退货" onclick="returnProd('@item.salesNo')"></i></td>
                                <td rowspan="2">
                                    <div class="shipping-list">
                                        @item.expressNo
                                    </div>
                                </td>
                            </tr>
                        }
                        else if (item.status == 3)
                        {
                            <tr class="order-completed">
                                <td rowspan="2">@item.salesNo.Substring(item.salesNo.Length - 6, 6)</td>
                                <td>已完成</td>
                                <td>@item.createDate.ToString("yyyy-MM-dd")</td>
                                <td>@item.receiver</td>
                                <td>@item.Phone</td>
                                <td>@item.detailAddress</td>
                                <td class="operation"><i class="icon ion-ios-undo" title="退货" onclick="returnProd('@item.salesNo')"></i></td>
                                <td rowspan="2">
                                    <div class="shipping-list">
                                        @item.expressNo
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr class="product-detail">
                            <td colspan="5">
                                <div>
                                    <ul>
                                        @foreach (var item2 in item.Order2ProductsList)
                                        {
                                            <li>
                                                <a href="#">
                                                    <img title=@item2.productName src=@string.Concat(ViewBag.ProjectUrl,  item2.showPic)>
                                                    <div>
                                                        <span title=@item2.productName>@item2.productName</span>
                                                        <span>@string.Concat("￥", item2.discountedPrice)</span>
                                                        <span>@string.Concat("x", item2.num)</span>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </td>
                            <td class="edit-price">
                                共<span>@item.Order2ProductsList.Count</span>种商品，
                                <br>合计：<span class="red">@string.Concat("￥", item.amount)</span>
                                @if (item.postage != null)
                                {
                                    <br><span>运费</span><span class="red">@string.Concat("￥", item.postage)</span>
                                }
                                <br>
                                @if (item.status == 0)
                                {
                                    <p class="clearfix"><input type="text" placeholder="修改价格" value="@item.adminChangeAmount" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9.]+/,'');}).call(this)"><button class="btn" onclick="changeAmount('@item.salesNo',this)">修改</button></p>
                                    <p class="clearfix"><input type="text" placeholder="修改运费" value="@item.adminChangePostage" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9.]+/,'');}).call(this)"><button class="btn" onclick="changeExpress('@item.salesNo',this)">修改</button></p>
                                }
                                else
                                {
                                    if (item.adminChangeAmount != null)
                                    {
                                        <p class="clearfix">修改价格：<span class="red">@string.Concat("￥", item.adminChangeAmount)</span></p>
                                    }
                                    if (item.adminChangePostage != null)
                                    {
                                        <p class="clearfix">修改运费：<span class="red">@string.Concat("￥", item.adminChangePostage)</span></p>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section popup {
    <div class="popup delete-alert">
        <div class="popup-bg"></div>
        <div class="popup-inner">
            <p class="blue">确认删除本条记录？</p>
            <div>
                <button class="btn popup-cancel">取消</button><button class="btn delete-alert-confirm">确认</button>
            </div>
        </div>
    </div>
    <div class="popup delivery-alert">
        <div class="popup-bg"></div>
        <div class="popup-inner shipping">
            <input type="hidden" id="hidSalesNo" />
            <p class="blue"><input type="text" placeholder="请输入运单号" id="orderExpressNo"></p>
            <div class="add-shipping"><span>多个运单请用英文逗号,隔开</span></div>
            <div>
                <button class="btn popup-confirm">发货</button><button class="btn popup-cancel">取消</button>
            </div>
        </div>
    </div>
    <div class="popup return-alert">
        <div class="popup-bg"></div>
        <div class="popup-inner">
            <p class="blue">确认退回商品？</p>
            <div>
                <button class="btn popup-cancel">取消</button><button class="btn delete-alert-confirm">确认</button>
            </div>
        </div>
    </div>
}

@section scripts{
    <script charset="utf-8" src="~/Content/datepicker/js/BeatPicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Admin/order.js"></script>
}




