

@if (ViewBag.PageType == "ProductsPage")
{
    <header class="header">
        <div class="fix_nav">
            <div style="max-width:768px;margin:0 auto;height: 44px;position: relative;background:#000000;">
                @using (Html.BeginForm("Category", "Products"))
                {
                    <div class="navbar-search left-search">
                        @Html.TextBox("searchString", "", new { @class = "form-control", placeholder = "搜索商品" })
                        @*<input type="text" id="keyword" name="keyword" value="" placeholder="搜索商品" class="form-control">*@
                    </div>
                    <div class="nav-right">
                        <input type="submit" value="搜索" onclick="searchproduct();" class="img-responsive" style="text-align:center;background:#6a91ee;color:#fff;border-radius: 5px;border:none;height:34px;vertical-align:middle;clear:both;padding:0px;width:42px;" />
                    </div>
                }
            </div>
        </div>
    </header>
}
else if (!string.IsNullOrEmpty(@ViewBag.PageName))
{
    <div class="fanhui_cou">
        <div class="fanhui_1"></div>
        <div class="fanhui_ding">顶部</div>
    </div>
    <header class="header">
        <div class="fix_nav">
            <div class="nav_inner">
                @if (!string.IsNullOrEmpty(@ViewBag.fromURL))
                {
                    <a class="nav-left back-icon" href="@ViewBag.fromURL">返回</a>
                }
                else
                {
                    <a class="nav-left back-icon" href="javascript:history.go(-1);">返回</a>
                }
                <div class="tit">@ViewBag.PageName</div>
            </div>
        </div>

    </header>
}